html,
body {
    height: 100%;
    width: 100%;
    background-color: #5a5c51;
}

.failure,
.success,
.draw {
    margin-bottom: 0;
    display: none;
    position:absolute;
    width: 100%;
}

.token {
    font-size: 5em;
    color: white;
}

#boardContainer {
    padding: 125px;
}

#dialog {
    overflow: hidden;
    padding: 5px;
    margin: 3%;
}

.ui-dialog-titlebar-close {
    visibility: hidden;
}

#board {
    width: 525px;
    margin: 0 auto;
}

.square {
    float: left;
    height: 175px;
    width: 175px;
}

.square h1 {
    text-align: center;
    padding: 40px;
}

.top,
.middle {
    border-bottom: solid 5px white;
}

.left,
.mid {
    border-right: solid 5px white;
}
