html,
body {
  height: 100%;
  width: 100%;
  /*padding-top:20px;*/
}

#projectContainer{
  min-width:200px;
  text-align:center;
  margin:3% auto;
  padding:0;
}

.main-section{
  min-height: 100%;
  min-width: 100%;
  padding: 80px;
}

#Home {
  background-color: #303D8D;
  text-align: center;
}

#About {
  align-items: center;
  display: flex;
  background-color: #353D6A;
}

#Contact {
  background-color: #CDA132;
  text-align:center;
}

#Projects {
  background-color: #6472C6;
}

#Welcome {
  color: white;
  margin-top:20%;
  font-size: 3em;
  font-family: "Pacifico", Helvetica, sans-serif;
}

#About p,
img {
  margin: 0 auto;
  padding: 15px;
}

#About h2 {
  margin-top: 5%;
}

#Projects h2 {
  margin-top: 5%;
  text-align: center;
}

.white-text {
  color: white;
}

button:focus {
  outline: 0 !important;
}

.git-button{
  margin-top:2%;
}

a {
  color: inherit;
}

.caption-style-1 {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  text-align:center;
}

.pic-item{
  display:inline-block;
  margin:3%;
}

.project-screenshots{
  width:500px;
  height:300px;
}

.caption-style-1 li:hover .caption {
  opacity: 1;
}

.caption-style-1 img {
  margin: 0px;
  padding: 0px;
  float: left;
  z-index: 4;
}

.caption-style-1 .caption {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

.caption-style-1 .blur {
  background-color: rgba(0, 0, 0, 0.65);
  height: 300px;
  width: 500px;
  z-index: 5;
  position: absolute;
}

.caption-style-1 .caption-text h1 {
  text-transform: uppercase;
  font-size: 16px;
}

.caption-style-1 .caption-text {
  z-index: 10;
  color: #fff;
  position: absolute;
  width: 500px;
  height: 300px;
  text-align: center;
  top: 100px;
}

#Contact h2 {
  margin-top: 20%;
}