body{
	overflow: hidden;
	background-color: black;
}

.treasure{
	background-color: gold;
}

.wall{
	background-color: grey;
}

.area{
	background-color: white;
}

.player{
	background-color: blue;
}

.health{
	background-color: green;
}

.enemy{
	background-color: red;
}

.board{
	background-color: black;
	width: 1000px;
	height: 700px;
	overflow: auto;
}

.cell{
	float:left;
/*	border-top:1px solid silver;
	border-left:1px solid silver;*/
	height:10px;
	width: 10px;
	font-size:6pt;
}

#rogue-app{
	width: 1020px;
	height: 720px;
	margin: 0 auto;
	border: 10px solid silver;
	overflow: scroll;
}

.title{
	background-color: black;
	height:100px;
	width:1020px;
	border-bottom:5px solid silver;
}

